Repository elrax/elrax, pull requests merged in 2024-02, with the labels that each got.

#94 feat: add authorization, expo-image, update pkgs
  apps/api/src/index.ts
  apps/api/src/router/auth.ts
  apps/api/src/router/index.ts
  apps/api/src/router/video.ts
  apps/api/src/utils/localR2.ts
  apps/mobile/app.config.js
  apps/mobile/assets/elrax-icons.json
  apps/mobile/assets/elrax-icons.ttf
  apps/mobile/eas.json
  apps/mobile/package.json
  apps/mobile/src/app/(app)/_layout.tsx
  apps/mobile/src/app/(app)/feed.tsx
  apps/mobile/src/app/(app)/notifications.tsx
  apps/mobile/src/app/(app)/profile.tsx
  apps/mobile/src/app/(app)/search.tsx
  apps/mobile/src/app/(app)/upload.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/index.tsx
  apps/mobile/src/app/sign-in.tsx
  apps/mobile/src/assets/auth.png
  apps/mobile/src/components/Button.tsx
  apps/mobile/src/components/Fonts.ts
  bun.lockb
  package.json
  packages/tailwind-config/index.js
Labels: api, authentication, ⬆️ dependencies, ❗️ migrations, 🚧 work in progress

#101 fix: move back to pnpm, move tsconfig, fix web projects build
  .github/actions/setup/action.yml
  .github/workflows/deployment-web.yml
  .github/workflows/deployment.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .gitignore
  apps/api/package.json
  apps/api/tsconfig.json
  apps/mobile/eas.json
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/tailwind.config.js
  apps/mobile/tsconfig.json
  apps/web/blog/package.json
  apps/web/blog/tsconfig.json
  apps/web/comics/package.json
  apps/web/comics/tsconfig.json
  apps/web/landing/package.json
  apps/web/landing/tsconfig.json
  bun.lockb
  package.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/tailwind-config/index.js
  packages/tailwind-config/package.json
  packages/tailwind-config/postcss.js
  pnpm-lock.yaml
  tsconfig.json
Labels: 🐛 bug, ⬆️ dependencies

#100 fix: keyboard dismiss on outside click and disabled button gradient
  apps/mobile/src/app/(app)/profile.tsx
  apps/mobile/src/components/Button.tsx
Labels: 🐛 bug, ui

#103 feat: add new comics and fix dates
  apps/web/comics/public/comics-9-meme-2-heroes-we-dont-deserve.jpg
  apps/web/comics/src/content/comics/comics-6-modern-way-to-survive.md
  apps/web/comics/src/content/comics/comics-7-the-best-time-for-zoomies.md
  apps/web/comics/src/content/comics/comics-8-how-cats-see-cucumbers.md
  apps/web/comics/src/content/comics/comics-9-meme-2-heroes-we-dont-deserve.md
Labels: web-content

#104 feat: add comics number 10
  apps/web/comics/public/comics-10-that-feeling-when-you-pick-up-a-cat.jpg
  apps/web/comics/src/content/comics/comics-10-that-feeling-when-you-pick-up-a-cat.md
Labels: web-content
